# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp

# dependencies
node_modules

.vscode
.angular
.vs


# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual Studio Trace Files
*.e2e

# Visual Studio code coverage results
*.coverage
*.coveragexml

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache
# but keep track of directories ending in .cache
!?*.[Cc]ache/

# Including strong name files can present a security risk
# (https://github.com/github/gitignore/pull/2483#issue-259490424)
#*.snk

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates


# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml

# Others
appsettings.json
appsettings.*.json
PublishProfiles/
logs
IGNORE_*

.nx
*/bin/*
*/obj/*
/Solution/UNLOCODE/bin/*
/Solution/UNLOCODE/obj/*
/Solution/UNLOCODE/obj/Debug/net9.0/UNLOCODE.AssemblyInfo.cs
/Solution/UNLOCODE/obj/Debug/net9.0/UNLOCODE.AssemblyInfoInputs.cache
/Solution/UNLOCODE/obj/Debug/net9.0/UNLOCODE.assets.cache
/Solution/UNLOCODE/obj/Debug/net9.0/UNLOCODE.GeneratedMSBuildEditorConfig.editorconfig
/Solution/UNLOCODE/obj/project.nuget.cache